@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'LINESeedKR-Bd', 'serif';
}

.side-bar {
  max-width: 280px;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}


.bg-color {
  background-color: #1E2129;
  color: aliceblue;
}


/* 임시 */
.post-container {
  background-color: green;
}

/* 임시 */
.comment-container {
  background-color: blue;
}

/* 임시 */
.recomment-container {
  background-color: yellow;
}

