{% extends 'base_nav.html' %}
{% block title %}
Catsmos
{% endblock title %}

{% block content %}
<div class=" container mx-auto flex justify-center">
    <div class="w-full max-w-md pt-10">
      <p class="text-4xl mb-3 pb-4 font-bold">계정 활성화</p>
      <hr class="border-t-2 border-yellow-300">
        <div class="my-6 text-center p-10 border border-gray-700 bg-gray-700 rounded-lg">
            <p class="text-lg mb-4 text-gray-300">계정 활성화가 완료되었습니다.</p>

            <button class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-20 rounded" ><a href="{% url 'accounts:login' %}">로그인</a></button>
        </div>
    </div>
</div>

{% endblock content %}


<!-- 카드 형식으로 왼쪽 이미지 오른쪽 상단 정보 하단 버튼 식으로 만들어도 괜찮을듯 -->