{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}
Catsmos
{% endblock title %}

{% block style %}
.password-container{
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 35%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}
{% endblock style %}

{% block content %}
<div class="">
  <div class="m-4">
    <!-- 설명 -->
    {% if login_failed %}
    <div id="alert-border-2" class="flex p-4 mb-4 border-t-4 text-red-400 bg-gray-800 border-red-800" role="alert">
      <svg class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium">
        Invalid ID or password. <br> Check your ID or password and try again.
      </div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 inline-flex h-8 w-8 bg-gray-800 text-red-400 hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    {% endif %}
    <div>
      <p class="my-3 text-3xl font-bold">Welcome to Catsmos - Your Gateway to Feline Wonder!</p>
      <p class="text-gray-400">Dive into the enchanting world of cats with Catsmos, where we celebrate everything feline. Discover captivating stories, adorable pictures, expert advice, and a community of passionate cat lovers. </p><br>
      {% comment %} <p class="text-gray-400">Feel free to use any of these introductions or modify them according to your needs. Enjoy exploring the wonderful world of Catsmos!</p> {% endcomment %}
    </div>

    <!-- 로그인 폼 -->
    <div class="form-login">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}

        <div class="my-6">

          {% comment %} <label for="username" class="block">
            <span class="block text-white text-sm font-medium text-slate-700 py-3">ID</span>
            <input class="placeholder:italic placeholder:text-slate-700 block bg-black border-black w-full rounded-md py-2 pl-4 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="id" type="text" name="username" id="username" />
          </label> {% endcomment %}
          {% comment %} <label for="username" class="block text-sm font-medium text-slate-300">ID</label>
          <input type="text" id="username" name="username" placeholder="" class="form-input mt-1 block w-full rounded-md bg-[#101013] " placeholder="" > {% endcomment %}
          <div class="relative z-0 w-full group">
            <input type="text" id="username" name="username" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required>
            <label for="username" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ID</label>
          </div>
          {% comment %} <label for="password">
            <span class="block text-white text-sm font-medium text-slate-700 py-3">Password</span>
            <input class="placeholder:italic placeholder:text-slate-700 block bg-black border-black w-full rounded-md py-2 pl-4 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="********" type="password" name="password" id="password" />
          </label> {% endcomment %}
          {% comment %} <label for="password" class="mt-6 block text-sm font-medium text-slate-300">Password</label>
          <div class="password-container">
            <input type="password" placeholder="" id="password" name="password" class="mt-1 w-full rounded-md bg-[#101013]">
            <i class="fa-solid fa-eye" id="eye"></i>
          </div> {% endcomment %}

          <div class="relative z-0 w-full group mt-5">
            <input type="password" id="password" name="password" class="block py-2.5 px-0 w-full text-sm text-white-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required>
            <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
            <i class="fa-solid fa-eye absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer" id="togglePassword"></i>
          </div>
          

        </div>
        
        {% comment %} <input type="password" id="password" name="password" placeholder="********" class="form-input mt-1 block w-full rounded-md bg-[#101013] "> {% endcomment %}
        
        <div class="grid mt-7">
          <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 text-xl text-white font-bold py-1 px-4 rounded shadow">Login</button>
        </div>
        
        {% comment %} <input type="submit" value="LOG IN" class="text-lg my-4 py-1 w-full bg-yellow-400 rounded-md font-bold"> {% endcomment %}
      </form>
    </div>

    <!-- 도움 -->
    <div class="me-5 my-3 text-[#889cbb] flex justify-end gap-x-4" style="font-size:12px">
      <a href="{% url 'accounts:contract' %}">Sign up</a>
      <a href="{% url 'accounts:find_id' %}">Forgot your ID?</a>
      <a href="{% url 'accounts:password_reset' %}">Forgot your password?</a>
      {% comment %} <a href="">Didn't receive a confirmation link?</a> {% endcomment %}
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}

<script>
  const passwordInput = document.querySelector("#password");
  const eye = document.querySelector("#togglePassword");
  eye.addEventListener("click", function(){
    this.classList.toggle("fa-eye-slash");
    const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);
  });
</script>

{% endblock script %}