{% extends 'base_accounts.html' %}
{% load static %}

{% block content %}
    
  <div class="flex justify-center">
      <div class="planet-list-box w-full m-3 rounded-lg shadow-lg">
        <div class="grid grid-cols-2 gap-5">
            <div class="  col rounded-lg ">
                <div class="text-center rounded-t-lg bg-yellow-500 border-white  text-2xl py-3">Basic</div>
                <div class="h-96 border rounded-b-lg border-yellow-500 py-20 text-center">
                    <ul class="text-gray-200 text-sm space-y-3 font-light ">
                      <li>행성 생성 개수 <br> 5개</li>
                      <li>행성 가입 최대 인원 <br> 50명</li>
                      <li>하루 최대 행성 가입 횟수 <br> 3회</li>
                      <li>기본 위젯 제공</li>
                    </ul>

                </div>
            </div>
            <div class=" col rounded-lg ">
                <div class="text-center rounded-t-lg bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-800 text-2xl py-3">Premium</div>
                <div class="relative text-center h-96 text-lg border rounded-b-lg border-purple-300 border-t-0 py-14 text-purple-300 ">
                    <ul class="space-y-3 ">
                      <li>행성 생성 개수 <br> <span class="text-2xl inline-block animate-pulse">무제한</span></li>
                      <li>행성 가입 최대 인원 <br> <span class="text-2xl inline-block animate-pulse">2000명</span></li>
                      <li>행성 가입 횟수 <br> <span class="text-2xl inline-block animate-pulse">제한없음</span></li>
                      <li>다양한 위젯 사용, 커스텀 가능</li>
                    </ul>
                    <div class="absolute bottom-3 w-full">
                        <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-10 py-2.5 text-center mr-2 mb-2">무료 체험하기</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      
      
        
{% endblock content %}
