{% extends 'base_nav.html' %}

{% block content %}

	<!--Reset Password-->
    <div class="container mx-auto flex justify-center items-center h-screen">
        <div class="w-full max-w-md">
            <h2>비밀번호 재설정</h2>
            <hr>
            <p>비밀번호를 잊어버리셨나요?<br>
                가입하신 이메일을 입력해 주세요.<br>
                잠시 후 해당 이메일로 비밀번호 재설정 메일이 발송됩니다.</p>
            <!-- 에러 메시지 -->
            {% if messages %}
                <div class="text-red-600">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" action='{% url 'accounts:password_reset' %}'>
                {% csrf_token %}
                {{ password_reset_form }}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow">전송</button>
            </form>
        </div>
    </div>
    

{% endblock %}