{% extends 'base_nav.html' %}
{% load static %}

{% block title %}
행성 프로필 수정
{% endblock title %}

{% block style %}
.tag_profile {
  height: 120px;
  width: 120px; 
  object-fit: cover;
  position: relative;
}
.tag_crop {
  height: 150px;
  width: 300px; 
  object-fit: cover;
  position: relative;
}

.tag_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}
{% endblock style %}

{% block content %}
<div class=" container mx-auto flex justify-center">
    <div class="w-full max-w-md pt-10">
      <p class="text-4xl mb-2 pb-4 font-bold">Update</p>
      <div class="my-1">
          <form id="profile-form" action="{% url 'planets:planet_profile_update' planet.name user_by_planet.nickname  %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="grid">
            <hr class="mb-6 border-t-2 w-full border-yellow-300">
            <table class="">
              <tr class="border-b-2 border-gray-500">
                <th scope="col" class="px-6 py-3">
                  Nickname <span class="text-red-700">*</span>
                </th>
                <th scope="col" class="px-6 py-3 text-start">
                  <!-- ID -->
                  <input type="text" id="nickname" name="nickname" value="{{ user_by_planet.nickname }}" class="form-input mt-1 rounded-md bg-[#101013]" placeholder="Nickname">
                  <!-- 설명란 필요!-->
                </th>
              </tr>
              <tr class="border-b-2 border-gray-500">
                <th scope="col" class="px-6 py-3">
                  Profile
                </th>
                <th scope="col" class="px-6 py-3 text-start">
                  <!-- 프로필 사진 -->
                  <div class="bg-gray-700" style="position: relative; display: inline-block ">
                    <div class="tag_profile">
                    {% if user_by_planet.profile_image %}
                      <img src="{{ user_by_planet.profile_image.url }}" class="absolute inset-0 m-auto tag_img" id="profile_id" style="width: 100%; height: 100%;">
                      {% else %} 
                      <img src="{% static 'img/profile.png' %}" class="absolute inset-0 m-auto tag_img" id="profile_id" style="width: 100%; height: 100%;">
                    {% endif %} 
                    </div>
                    <button type="button" onclick="document.getElementById('id_profile_image').click();" class="absolute inset-0 m-auto block text-lg font-medium text-slate-300" style="top: 50%; transform: translateY(-50%);">
                      <span id="symbol1" class="material-symbols-outlined text-4xl" style="display:none;">
                        person_add
                      </span>
                    </button>
                    <input onchange="readURL1(this);" type="file" id="id_profile_image" name="profile_image" class="form-input" style="display: none;">
                  </div>
                  <br>
                    {% comment %} <div class="text-right">
                        <button type="button" onclick="resetImages1()" class="text-gray-400 text-sm" >기존 이미지<span class="material-symbols-outlined">
                          reset_image
                        </span></button>
                    </div> {% endcomment %}
                </th>
              </tr>
              <tr>
                <th scope="col" class="px-6 py-3">
                  Background
                </th>
                <th scope="col" class="px-6 py-3 text-start">
                  <!-- 배경사진 -->
                  <div class="bg-gray-700" style="position: relative; display: inline-block;">
                    <div class="tag_crop">
                    {% if user_by_planet.background_image %}
                      <img src="{{ user_by_planet.background_image.url }}" class="absolute inset-0 m-auto tag_img" id="background_id" style="width: 100%; height: 100%;" >
                      {% else %}
                      <img src="{% static 'img/no_background_img.jpeg' %}" class="absolute inset-0 m-auto tag_img" id="background_id" style="width: 100%; height: 100%;" >
                    {% endif %}
                    </div>
                    <button type="button" onclick="document.getElementById('id_background_image').click();" class="absolute inset-0 m-auto block text-lg font-medium text-slate-300" style="top: 50%; transform: translateY(-50%);">
                      <span id="symbol2" class="material-symbols-outlined text-4xl" style="display:none;">
                        add_photo_alternate 
                      </span>
                    </button>
                    <input onchange="readURL2(this);" type="file" id="id_background_image" name="background_image" class="form-input" style="display: none;">  
                  </div> 
                  {% comment %} <div class="text-right">
                    <button type="button" onclick="resetImages2()" class="text-gray-400 text-sm" >기존 이미지<span class="material-symbols-outlined">
                      reset_image
                    </span></button>
                  </div> {% endcomment %}
                </th>
              </tr>
            </table>
            {% comment %} {{ planet_user_update_form.as_p }} {% endcomment %}
            <div class="grid mt-8">
              <button id="create-profile-btn" class="bg-yellow-400 hover:bg-yellow-500 text-xl text-white font-bold py-1 px-4 rounded shadow" type="submit">Update</button>
            </div>
          </div>
        </form>
    </div>
</div>
</div>

{% comment %} <div class="grid mt-7">
  <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded shadow">Submit</button>
</div>   {% endcomment %}

{% comment %} <button type="button" class="ml-5" onclick="baseImages1()">이미지 삭제<span class="material-symbols-outlined">
delete
</span></button> {% endcomment %}

{% comment %} <button type="button" class="ml-5" onclick="baseImages2()">이미지 삭제<span class="material-symbols-outlined">
delete
</span></button> {% endcomment %}
{% endblock content %}


{% block script %}  
<script>
    var defaultProfileImage = "{% static 'img/profile.png' %}";

    function readURL1(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('profile_id').src = e.target.result;
        };
        var spanElement = document.getElementById('symbol1');
        spanElement.style.display = 'none';
    
        reader.readAsDataURL(input.files[0]);
      } else {
        {% if user_by_planet.profile_image %}
        document.getElementById('profile_id').src = "{{ user_by_planet.profile_image.url }}";
        {% else %}
        document.getElementById('profile_id').src = defaultProfileImage;
        {% endif %}
      }
    }

    var defaultBackgroundImage = "{% static 'img/no_background_img.jpeg' %}";
    function readURL2(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('background_id').src = e.target.result;
        };
        var spanElement = document.getElementById('symbol2');
        spanElement.style.display = 'none';
  
        reader.readAsDataURL(input.files[0]);
      } else {
        {% if user_by_planet.background_image %}
        document.getElementById('background_id').src = "{{ user_by_planet.background_image.url }}";
        {% else %}
        document.getElementById('background_id').src = defaultBackgroundImage;
        {% endif %}
      }
    }

    {% comment %} function resetImages1() {
        document.getElementById('profile_id').src = "{{ user_by_planet.profile_image.url }}";
    }
    function resetImages2() {
        document.getElementById('background_id').src = "{{ user_by_planet.background_image.url }}";
        
    } {% endcomment %}
{% comment %} 
    function baseImages1() {
        document.getElementById('profile_id').src = "";
    }
    function baseImages2() {
        document.getElementById('background_id').src = "{{ user_by_planet.background_image.url }}";
    } {% endcomment %}
  </script>

{% endblock script %}