{% extends 'base_nav.html' %}
{% load static %}

{% block title %}
프로필
{% endblock title %}

{% block content %}
<div class="flex">
    <a href="javascript:history.back()" class="flex items-center pl-5  text-[#ffd951] " style="height: 50px;">
        <span class="material-symbols-outlined">
            chevron_left
        </span>
        Back
    </a>
</div>
<div class="container mx-auto flex justify-center h-screen">
    <div class="w-full max-w-lg pt-10">
        <p class="text-4xl mb-3 pb-4 font-bold">My profile</p>
        <hr class="border-t-2 border-yellow-300 mb-6">
        <!-- 개인정보 -->
        <table class="my-3 ml-5">
            <tr>
                <td>
                    <div class="border-r-2 pr-4 mr-4">
                        <p>{{ user.username }}</p>
                        <p class="text-slate-500">{{ user.email }}</p>
                    </div>
                </td>
                <td>
                    <p class="">Joined</p>
                    <p class="text-slate-500">{{ user.created_at|date:'m d, Y' }}</p>
                </td>
            </tr>
        </table>
        
            
        
        <!-- 개수 -->
        <div class="my-4 ml-5">
            <p class="text-3xl">Planet Lists</p>
            {% for user_by_planet in user_by_planets %}
            <a type="button" href="{% url 'planets:index' user_by_planet.planet.name %}" class="pl-5 py-2 my-3 rounded-lg bg-[#181A20] hover:bg-[161a24] max-w-[400px] flex gap-4 relative">
                {% if user_by_planet.profile_image %}
                <img src="{{ user_by_planet.profile_image.url }}" alt="post_image" class="inline-block rounded-md" width="50" height="50">
                {% else %}
                <img src="{% static 'img/profile.png' %}" alt="no_image" class="inline-block rounded-md" width="50" height="50">
                {% endif %}
                <div>
                    <p class="text-slate-200">{{ user_by_planet.planet.name }}</p>
                    <p class="text-slate-400">{{ user_by_planet.nickname }}</p>
                </div>
                <p class="absolute right-2 bottom-2 text-slate-400 text-xs">{{ user_by_planet.planet.created_at|date:'m d, Y' }}</p>
            </a>
        
            {% endfor %}
        </div>
        
    </div>
    

    
</div>
    {% endblock content %}