{% extends 'base_nav.html' %}
{% block title %}
Catsmos
{% endblock title %}

{% block content %}
<div class=" container mx-auto flex justify-center">
  <div class="w-full max-w-md pt-10 ">
    <p class="text-4xl text-start mb-3 pb-4 font-bold">계정 활성화</p>
    <hr class="border-t-2 border-yellow-300">
    <div class="my-6 text-center px-10 border border-[#181A20] bg-[#181A20] rounded-lg">

      <p class="text-2xl pt-10">계정활성화 메일을 전송하였습니다!</p>
      <div class="flex justify-center">
        <p class="rounded-md bg-gray-700 py-5 px-3 my-5">이메일 주소: {{ user_email }}</p>
      </div>
      <p class="text-sm my-4 text-gray-400">계정을 활성화 하지 않으면 로그인을 할 수 없습니다.</p>
      
      <div class="py-4">
        <button class="bg-yellow-400 w-full hover:bg-yellow-500 text-white font-bold py-2 px-20 rounded" id="resend-button">재전송</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script>
    document.getElementById("resend-button").addEventListener("click", function(event) {
      event.preventDefault();  // 기본 동작(링크 이동) 방지
  
      var currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set("type", "re");
      window.location.href = currentUrl.href;
  
      this.disabled = true;
    });
</script>
{% endblock script %}

<!-- 카드형식으로 틀 짜고 초대장 같은 모양으로 만드는 것도 좋을듯 -->