<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/base_index.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  {% block head %}{% endblock head %}

  <style>
    {% block style %}
    {% endblock style %}
  </style>
</head>

<body>
  <!-- nav 바, md:hidden -->
  <nav class="sticky top-0 w-full z-[1] lg:hidden">
    <div class="flex justify-between border-b-2 border-[#393f4f] bg-[#191b22] text-[#ffd951] font-bold p-5 w-full">
      <a href="{% url 'planets:main' %}" class='text-2xl p-1 mt-2 text-[#ffd951]'>Catsmos</a> <!-- 로고 위치 -->
      
      <div class="flex flex-row">
        <div class="button-chatting bg-[#282c37]">
          <div id="accordion-collapse" data-accordion="collapse" data-active-classes="bg-transparent">
            <div id="accordion-collapse-heading-6">
              <button type="button" class="flex items-center justify-between p-3 mt-2 mb-0 text-xs text-left text-white bg-transparent" data-accordion-target="#accordion-collapse-body-6" aria-expanded="true" aria-controls="accordion-collapse-body-6">
                <p class="text-white text-xs">게시글 작성하기</p>
              </button>
            </div>
          </div>
        </div>

        <div class="ms-3 p-1">
          <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center p-2 ml-3 text-sm" aria-controls="navbar-hamburger" aria-expanded="false">
            <svg viewBox="0 0 32 32" width="30" height="30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32"><path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z" fill="#ffd951" class="fill-000000"></path></svg>
          </button>
        </div>
      </div>
    </div>

    <div class="bg-[#191b22] max-w-screen-xl flex flex-row items-center justify-between mx-auto p-4">
      <div class="hidden border-b-2 border-[#393f4f] w-full" id="navbar-hamburger">
        <div>
          <a href="#" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-[#ffd951]">Home</a>
        </div>
        <div>
          <a href="#" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-[#ffd951]">Services</a>
        </div>
        <div>
          <a href="#" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-[#ffd951]">Pricing</a>
        </div>
        <div>
          <a href="#" class="block py-2 pl-3 pr-4 text-white rounded hover:bg-[#ffd951]">Contact</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- nav 바 아래, sm:hidden -->
  <div class="w-full text-[#d9e1e8] bg-[#191b22] sm:hidden">
    <div class="flex flex-col">
      <div class="bg-[#282c37] w-full h-20 justify-center items-center text-center m-3 p-3">
        <p>search</p>
      </div>
      <div class="flex flex-row justify-center items-center">
        <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
          <p>widget1</p>
        </div>
        <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
          <p>widget2</p>
        </div>
        <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
          <p>widget3</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-center items-center bg-[#191b22]">
  
    <!-- 좌측 사이드 바, sm:block -->
    <div class="sticky top-0 max-w-[280px] mb-auto text-[#d9e1e8] hidden sm:block">
      <div class="flex flex-row">
        <div class="w-full">
          <div class="bg-[#282c37] h-10 justify-center items-center text-center m-3 p-2">
            <p>search</p>
          </div>
          <div class="flex flex-row">
            <img src="https://i.pinimg.com/564x/d2/98/4e/d2984ec4b65a8568eab3dc2b640fc58e.jpg" alt="no_image" class="w-1/6 h-1/6 m-5">
            <div class="flex flex-col">
              <p class="mt-5 text-sm">@{{ user.username }}</p>
              <p class="mt-1 text-xs text-[#bcbdbf]"><a href="{% url 'accounts:profile_update' %}">Edit profile</a></p>
            </div>
            <div class="mt-8 ms-auto me-4">
              <svg viewBox="0 0 32 32" width="20" height="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" fill="none" r="2" stroke="#bcbdbf" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="stroke-000000"></circle><circle cx="16" cy="26" fill="none" r="2" stroke="#bcbdbf" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="stroke-000000"></circle><circle cx="16" cy="6" fill="none" r="2" stroke="#bcbdbf" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" class="stroke-000000"></circle></svg>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
              <p>widget1</p>
            </div>
            <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
              <p>widget2</p>
            </div>
            <div class="bg-[#282c37] h-36 w-36 justify-center items-center text-center m-5 p-3">
              <p>widget3</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed bottom-0 p-5 ps-20 hidden lg:block">
        <div class='ms-auto'>
          <p class="text-sm text-[#bcbdbf]">Creators of Catsmos:</p>
          <p class="mt-1 text-xs text-[#bcbdbf]">
            FE: <a href="https://github.com/ParkJiHwan22">박지환</a>
            <a href="https://github.com/Pysonny">최계수</a>
          </p>
          <p class="text-xs text-[#bcbdbf]">
            BE: <a href="https://github.com/sotthang">소현섭</a>
            <a href="https://github.com/kwonjh0825">권준혁</a>
            <a href="https://github.com/arrmadillo">이수한</a>
          </p>
        </div>
      </div>
    </div>

    <!-- content -->

    <div class="min-h-[4000px] max-w-[540px] bg-[#191b22] w-full text-white bg-color">
      <div class="mt-3">
        <div class="bg-[#282c37] h-10 justify-center items-center text-white m-3 p-2">
          <p class="text-sm p-1">#Explore</p>
        </div>
        <div class="flex flex-row w-full bg-[#191b22] text-center text-[#bcbdbf] p-3">
          <p class="w-1/4">Posts</p>
          <p class="w-1/4">Hashtags</p>
          <p class="w-1/4">People</p>
          <p class="w-1/4">News</p>
        </div>
      </div>
      <div class="mb-auto" style="overflow-y: auto;">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <!-- 우측 side 바, md:block -->
    <nav class="sticky top-0 mb-auto w-full z-[1] max-w-[280px] hidden lg:block">
      <div class="border-b-2 border-[#393f4f] text-[#ffd951] font-bold p-5 w-full">
        <a href="{% url 'planets:main' %}" class='text-2xl p-1 text-[#ffd951]'>Catsmos</a> <!-- 로고 위치 -->
      </div>

      <div class="button-chatting bg-[#282c37]">
        <div id="accordion-collapse" data-accordion="collapse" data-active-classes="bg-transparent">
          <h2 id="accordion-collapse-heading-6">
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white bg-transparent" data-accordion-target="#accordion-collapse-body-6" aria-expanded="true" aria-controls="accordion-collapse-body-6">
              <p class="text-white">게시글 작성하기</p>
            </button>
          </h2>
        </div>
      </div>

      <div id="accordion-collapse" data-accordion="collapse" data-active-classes="bg-transparent" class="ms-3 border-b-2 border-[#393f4f]">
        <h2 id="accordion-collapse-heading-1">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white bg-transparent" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
            <span class="text-white">Home</span>
            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
          <div class="p-5">
            <p class="mb-5 text-white">Flowbite</p>
            <p class="text-white">Tailwind CSS</p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-2">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
            <span class="text-white">Notifications</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
          <div class="p-5">
            <p class="mb-5 text-white">Flowbite</p>
            <p class="text-white">Tailwind CSS</p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-3">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
            <span class="text-white">Explore</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
          <div class="p-5">
            <p class="mb-5 text-white">Flowbite</p>
            <p class="text-white">Tailwind CSS</p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-4">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
            <span class="text-white">Local</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
          <div class="p-5">
            <p class="mb-5 text-white">Flowbite</p>
            <p class="text-white">Tailwind CSS</p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-5">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-white" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
            <span class="text-white">Bookmarks</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
          <div class="p-5">
            <p class="mb-5 text-white">Flowbite</p>
            <p class="mb-5 text-white">Flowbite</p>
            <p class="mb-5 text-white">Flowbite</p>
            <p class="mb-5 text-white">Flowbite</p>
            <p class="mb-5 text-white">Flowbite</p>
            <p class="mb-5 text-white">Flowbite</p>
            <p class="text-white">Tailwind CSS</p>
          </div>
        </div>
      </div>
      <div class="p-5 w-full">
        <div class='text-base text-[#ffffff] p-3'>
          Preferences
        </div>
      </div>

      <div class="fixed bottom-0 p-5">
        <div class='border-b-2 border-[#393f4f] w-60 text-base text-[#ffffff] p-3'>
          <p class="mb-3 text-[#bcbdbf]">Trending Now</p>
        </div>
        <div class='text-base text-[#ffffff] p-3'>
          <p class="text-sm text-[#bcbdbf]">#cheerupafictionalcharacter</p>
          <p class="text-xs text-white">105 people in the past 2 days</p>
          
          <p class="mt-5 text-sm text-[#bcbdbf]">#apologizetoasongbookormovie...</p>
          <p class="text-xs text-white">53 people in the past 2 days</p>

          <p class="mt-5 text-sm text-[#bcbdbf]">#songs4vampires</p>
          <p class="text-xs text-white">43 people in the past 2 days</p>
        </div>
      </div>
    </nav>
    
  </div>
</body>
{% comment %} <script type="text/javascript" src="/static/js/base_index.js"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

{% block script %}
{% endblock script %}
</html>