{% extends 'base_nav.html' %}
{% load static %}
{% block title %}
  게시글 신고 관리
{% endblock title %}
{% block content %}
<div class="container mx-auto flex justify-center h-screen">
  <div class="w-full max-w-md pt-10">
    <p class="text-4xl mb-3 pb-4 font-bold">게시글 신고 관리</p>
    <hr class="border-t-2 border-yellow-300">
      <div class="mt-5 grid">
      {% for report in reports %}
        <div id="report-form-{{report.post}}" class="col pl-5 py-2 my-3 rounded-lg bg-[#181A20] hover:bg-[161a24] flex gap-4 relative">
          <div>
            <p class="text-slate-200">게시글 번호: {{report.post}}</p>
            <p class="text-slate-400">신고 수: {{report.pk__count}}</p>
          </div>
          <form class="delete-post-form" data-post-pk="{{report.post}}" data-planet-name="{{planet.name}}">
            {% csrf_token %}
            <button class="absolute right-2 top-2 text-slate-400 text-xs" type="submit"><span class="material-symbols-outlined">
              delete
              </span></button>
          </form>
        </div>

      {% endfor %}
      </div>
      {% comment %} <div class="grid grid-cols-2 ">
        <div class="col">
          <div class="pl-5 py-2 my-3 rounded-lg bg-[#181A20] hover:bg-[161a24] w-[400px] flex gap-4 relative">
            <div>
              <p class="text-slate-200">게시글 번호: {{report.post}}</p>
              <p class="text-slate-400">신고 수: {{report.pk__count}}</p>
            </div>
            <form class="delete-post-form" data-post-pk="{{report.post}}" data-planet-name="{{planet.name}}">
              {% csrf_token %}
              <input class="absolute right-2 bottom-2 text-slate-400 text-xs" type="submit" value="게시글 삭제">
            </form>
          </div>
        </div>
      </div> {% endcomment %}


{% endblock content %}
{% block script %}
<script src="{% static 'js/admin_report.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock script %}
