{% extends 'base_nav.html' %}

{% block title %}
  planet settings
{% endblock title %}

{% block content %}
  <h1>planet settings</h1>
  <form action="{% url 'planets:planet_admin' planet.name %}" method="POST">
    {% csrf_token %}
    {{form_planet.as_p}}
    <input type="submit" value="완료">
  </form>

  {% if planet.need_confirm == True %}
    <a href="{% url 'planets:planet_join_admin' planet.name %}">가입 관리</a>
  {% endif %}
  {% if is_manager %}
    <a href="{% url 'planets:admin_member' planet.name %}">회원 관리</a>
  {% endif %}
  <a href="{% url 'planets:planet_tos_admin' planet.name %}">약관 수정</a>
  <a href="{% url 'planets:admin_report' planet.name %}">게시글 신고 관리</a>
  <p>초대코드: {{planet.invite_code}}</p>
  <p>초대코드 유효기간: {{planet.expiration_date}}</p>
{% endblock content %}
