{% extends 'base_nav.html' %}
{% load static %}
{% load tailwind_filters %}

{% block title %}
행성 생성
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/planet_create.css' %}">
{% endblock head %}

{% block content %}
<div class="flex flex-col justify-center max-w-768 items-center p-20">
  <div class='border-b-2 border-[#999999]'>
    <p class="text-2xl mt-20 m-5 w-full">행성 등록하기</p>
  </div>

  <div class='mt-5'>
    <form action="{% url 'planets:planet_create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      
      <div id="terms-of-service">
        <p class="text-sm">이용약관</p>
        <input type="hidden" id="num-terms" name="termsofservice_count" value="0">
    
        <div id="term-fields-container"></div>
    
        <button class="text-sm" type="button" id="add-term-btn">약관 추가하기</button>
      </div>
      
      <input type="submit" value="행성 만들기" class="planet-create-btn mt-6">
    </form>
  </div>
</div>


<script src="{% static 'js/planet_create.js' %}"></script>
{% endblock content %}