{% extends 'base_nav.html' %}
{% load static %}

{% block title %}
행성 목록
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/planet_list.css' %}">
{% endblock head %}

{% block content %}
  <div class="max-w-[2000px] mx-auto">
    <div class="bg-cover bg-center" style="background-image: url('static/catsmos.png');">
      <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center pt-40 p-20">
          <p class="text-4xl text-[#ffffff]">"Create your own world"</p>
          <p class="text-4xl text-[#ffffff]">"within the confines of Space."</p>
          <p class="text-2xl text-[#ffffff] mt-20">Our service is built with a focus on selective sharing,</p>
          <p class="text-2xl text-[#ffffff]">privacy protection, aligned interests, a closed network,<br> and enhanced security.</p>
        </div>
      </div>
    </div>

    <div class="flex justify-center flex-row">
      <div class="hidden md:block md:w-1/4 me-5 p-20">
        <p class="text-2xl mb-2">행성 종류</p>
        <p class="mb-10">관심있는 종류의 행성들을 만나보세요.</p>
        <p class="text-xl mb-5">Tech</p>
        <p class="text-xl mb-5">Game</p>
        <p class="text-xl mb-5">Music</p>
        <p class="text-xl mb-5">Sports</p>
        <p class="text-xl mb-5">Food</p>
        <p class="text-xl mb-5">Hobby</p>
      </div>
      <div class="w-3/4 mb-20">
        <div class="border-b-2 border-[#393f4f]">
          <p class="text-white text-2xl mb-5">행성 둘러보기</p>
        </div>
        <div class="flex flex-wrap text-white">
          {% for planet in planets %}
            <div class="planet-list-box md:w-1/3 xl:w-1/4 m-5 p-3">
              <img class="planet-list-img mb-5" src="{% if planet.image %} {{ planet.image.url}} {% else %} {% static 'img/no_planet_img.png' %} {% endif %}" alt="image">
              <div class="planet-list-text">
                <p class="text-[#999999]">{{ planet.is_public }}</p>
                <p class="mb-5">{{ planet.name }}</p>
                <p class="text-sm clamp-5-lines">{{ planet.description }}</p>
              </div>
              
              <a href="{% url 'planets:planet_contract' planet.name %}">
                <button class="button-big button-color-join mt-8">
                  <p class="text-base">join</p>
                </button>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}