{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}
행성 이용약관
{% endblock title %}

{% block content %}

<div class="">
  <div class="relative rounded-md">
    <p class="mb-7 text-3xl font-bold">Some ground rules.</p>
    <hr class="border-t-2 border-yellow-300">
     <table class="text-md text-left text-gray-500 dark:text-gray-400 ">
      <tbody>
        {% for termofservice in termsofservice %}
        <tr class="">
          <th scope="row" class="pr-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <div class="w-10 h-10 rounded-full bg-[#ffd951] flex justify-center items-center">
              <span class="text-white font-bold">{{ termofservice.order }}</span>
            </div>
          </th>
          <td class="px-6 pt-8">
            <p class="text-start">{{ termofservice.content }}</p>
            <div class="text-right mt-7">
              <input id="ck1"  type="checkbox" class="mr-2 order2_chks">
              <label for="ck1">동의합니다</label>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="my-8">
      <div class="text-right">
        <input type="checkbox" id="order2_chk" class="mr-2 ">
        <label for="order2_chk">모든 이용약관에 동의합니다</label>
      </div>
    </div>
    <div class="btnArea grid">
      <button onclick="redirectToSignupPage();" disabled="disabled" class="btn bg-gray-500 text-white font-bold py-2 px-4 rounded">Next</button>
    </div>
</div>




{% endblock content %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const termsCheckbox = document.getElementById('terms-checkbox');
      const profileForm = document.getElementById('profile-form');
  
      profileForm.addEventListener('submit', function(e) {
        if (!termsCheckbox.checked) {
          e.preventDefault();
          alert('이용 약관에 동의해야 합니다.');
        }
      });
    });
  </script>

<script>
	function redirectToSignupPage() {
		window.location.href = "{% url 'planets:planet_join' planet.name %}";
	  }
	$(document).ready(function(){

		//전체 체크 클릭 시, 나머지 체크 
		$("#order2_chk").click(function(){
		var order2Chk=$("#order2_chk").prop("checked");
		
			if(order2Chk){
				$(".order2_chks").prop("checked",true);
				$(".btnArea button").css({"backgroundColor":"#ffd951","cursor":"pointer","color":"#fff"}).prop("disabled",false);
			}
			else{
				$(".order2_chks").prop("checked",false);
				$(".btnArea button").css({"backgroundColor":"#6b7280","cursor":"auto","color":"#fff"}).prop("disabled",true);
			}
		});
		
		// 모든 체크박스를 클릭하면 버튼 활성화시키기
		$('.order2_chks').click(function(){
			var tmpp = $(this).prop('checked'); 
			//자식 체크 전체 체크시, 부모 체크박스 체크 됨
			var tt = $(".order2_chks").length;
			var ss = $(".order2_chks:checked").length;
			
			{% comment %} 
      //선택한 체크박스 값이 true 이거나 체크박스 1개 이상 체크시 버튼 활성화시키기
			if(tmpp==true || ss>0){
			$(".btnArea button").css({"backgroundColor":"#ffd951","cursor":"pointer","color":"#fff"}).prop("disabled",false);
			}
			else{
			$(".btnArea button").css({"backgroundColor":"#6b7280","cursor":"auto","color":"#fff"}).prop("disabled",true);
			} 
      {% endcomment %}
			
			
			// 체크박스가 모두 선택되었을 때 상위 체크박스 선택되도록 설정
			if(tt == ss){
				$("#order2_chk").prop("checked",true);
        $(".btnArea button").css({"backgroundColor":"#ffd951","cursor":"pointer","color":"#fff"}).prop("disabled",false);

			}else{
				$("#order2_chk").prop("checked",false);
        $(".btnArea button").css({"backgroundColor":"#6b7280","cursor":"auto","color":"#fff"}).prop("disabled",true);

			}
			
			});
		  
		  
		});

</script>
{% endblock script %}


